local-npm/node-red-contrib-picogw/flows/PicoGW_V2API.json
[{"id":"b79ec929.2cfe28","type":"tab","label":"PicoGW V2 API","disabled":false,"info":""},{"id":"7d075afd.3f7374","type":"function","z":"b79ec929.2cfe28","name":"GET and PUB","func":"if(msg.payload != null ) msg = msg.payload ;\n\nconst path = 'Temperature/Living/' ;\nconst pubpath = '/v1/virtualdevice/tempsensor' ;\n\nlet ret = {\n    value : global.get(path+'value')||undefined\n    , expected : global.get(path+'expected')||undefined\n    , reqid : msg.reqid\n} ;\n\nif( msg.method == 'PUB' ){\n    ret.method ='PUB' ;\n    let newval = msg[pubpath].value ;\n    ret.value = newval ;\n    global.set( path+'value',newval ) ;\n    return [null,ret] ;\n}\n\nreturn [ret,null] ;\n","outputs":"2","noerr":0,"x":377,"y":120,"wires":[["50d84e75.48648"],["50d84e75.48648"]]},{"id":"50d84e75.48648","type":"pico2 conf","z":"b79ec929.2cfe28","resource":"Temperature","context":"Living","x":620,"y":120,"wires":[[],[],[]]},{"id":"d852ddc2.ec936","type":"pico2 conf","z":"b79ec929.2cfe28","resource":"Temperature","context":"Living","x":117,"y":180,"wires":[["7d075afd.3f7374"],["ded3f0ec.8a38c"],["bd70d3be.cce86"]]},{"id":"494520a4.2f8cd","type":"inject","z":"b79ec929.2cfe28","name":"Temp Sensor Emulator","topic":"","payload":"{\"method\":\"PUB\",\"/v1/virtualdevice/tempsensor\":{ \"value\":27 } }","payloadType":"json","repeat":"","crontab":"","once":true,"x":150,"y":100,"wires":[["7d075afd.3f7374"]]},{"id":"ded3f0ec.8a38c","type":"function","z":"b79ec929.2cfe28","name":"PUT","func":"if(msg.payload != null ) msg = msg.payload ;\n\nconst path = 'Temperature/Living/' ;\nconst temp = msg.args.expected ;\n\nglobal.set(path+'expected',temp)\n\nreturn [\n    { success:true , reqid:msg.reqid }\n    ,{ method:'PUT' , args:{value:'on'} }\n    ,{ method:'PUT' , args:{value:temp} }\n];\n    \n","outputs":"3","noerr":0,"x":380,"y":180,"wires":[["50d84e75.48648"],["7ac93cba.ab2d84"],["f52b8c5b.03c39"]]},{"id":"bd70d3be.cce86","type":"function","z":"b79ec929.2cfe28","name":"DELETE","func":"if(msg.payload != null ) msg = msg.payload ;\n\nconst path = 'Temperature/Living/' ;\n\nglobal.set(path+'expected',undefined);\n\nreturn [\n    { success:true , reqid:msg.reqid }\n    ,{ method:'PUT' , args:{value:'off'} }\n    ];","outputs":"2","noerr":0,"x":382,"y":241,"wires":[["50d84e75.48648"],["7ac93cba.ab2d84"]]},{"id":"7ac93cba.ab2d84","type":"call picogw","z":"b79ec929.2cfe28","name":"AirCon Power","resource":"/v1/echonet/AirConditioner_1/OperatingState","polling":"","args_for_poll":"","x":623,"y":180,"wires":[[]]},{"id":"f52b8c5b.03c39","type":"call picogw","z":"b79ec929.2cfe28","name":"Aircon Temp","resource":"/v1/echonet/AirConditioner_1/TemperatureSetValue","polling":"","args_for_poll":"","x":622,"y":240,"wires":[[]]}]